{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- Page title -->
    <h1 class="govuk-heading-xl">{{ serviceName }}</h1>

    <!-- SECTION: Concept tests -->
    <section class="govuk-!-margin-top-6">
      <h2 class="govuk-heading-l">Concept tests</h2>

      <section class="govuk-!-margin-top-4">
        <h3 class="govuk-heading-m">Analyse, interpret, improve</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="/concepts/test">
              Maths (jazzy version)
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/concepts/test-2">
              Maths (simple version)
            </a>
          </li>
        </ul>
      </section>

      <section class="govuk-!-margin-top-4">
        <h3 class="govuk-heading-m">Drawing out top performers</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="/concepts/test-4">
              Attainment 8
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/concepts/test-5">
              Reading, writing and maths
            </a>
          </li>
        </ul>
      </section>
    </section>

    <!-- SECTION: For UR -->
    <section class="govuk-!-margin-top-7">
      <div class="govuk-inset-text">

        <h2 class="govuk-heading-l">For UR</h2>

        <section class="govuk-!-margin-top-4">
          <h3 class="govuk-heading-m">Analyse and next steps</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a class="govuk-link" href="/concepts/test-8">
                Attainment 8
              </a>
            </li>
            <li>
              <a class="govuk-link" href="/concepts/test-7">
                Reading, writing and maths
              </a>
            </li>
          </ul>
        </section>

        <section class="govuk-!-margin-top-4">
          <h3 class="govuk-heading-m">Performance insight and action card</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a class="govuk-link" href="/concepts/test-9">
                Attainment 8
              </a>
            </li>
            <li>
              <a class="govuk-link" href="/concepts/test-10">
                Reading, writing and maths
              </a>
            </li>
          </ul>
        </section>

      </div>
    </section>

  </div>
</div>

{% endblock %}