{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- Main page heading -->
    <h1 class="govuk-heading-xl">{{ serviceName }}</h1>

    <!-- Section heading -->
    <h2 class="govuk-heading-m">Concept tests</h2>

    <!-- Intro / lead paragraph instead of a small heading -->
    <p class="govuk-body-l govuk-!-margin-top-7">
      Analyse, interpret, improve
    </p>

    <!-- Links to examples -->
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="/concepts/test">
          Maths (jazzy version)
        </a>
      </li>
      <li>
        <a class="govuk-link" href="/concepts/test-2">
          Maths (simple version)
        </a>
      </li>
    </ul>

    <!-- Intro / lead paragraph instead of a small heading -->
    <p class="govuk-body-l govuk-!-margin-top-7">
      Drawing out top performers
    </p>

    <!-- Links to examples -->
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="/concepts/test-4">
          Attainment 8
        </a>
      </li>
      <li>
        <a class="govuk-link" href="/concepts/test-5">
          Meeting expected standard in reading, writing and maths
        </a>
      </li>
    </ul>

    <p class="govuk-body-l govuk-!-margin-top-7">
      Analyse and next steps
    </p>

    <!-- Links to examples -->
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="/concepts/test-6">
          Meeting expected standard in reading, writing and maths
        </a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
